<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Claws Restaurant</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="public/assets/css/style.css">
</head>

<body>
	<div class="wrapper">
			<div class="jumbotron jumbotron-fluid">
					<div class="container text-center">
						<h1 id="store-name">Claws Restaurant</h1>
						<h4 id="slogan">"EAT MORE | DRINK MORE | BECLAWS IT'S GOOD"</h4>
					</div>
				</div> 
				<!-- end of jumbotron -->
			
					<section id="promotion">
						<div class="container">
								<div class="card-body text-center">
								<h5 class="card-title">Claws Garden Grove Is Back!</h5>
								<p class="card-text">Call in Today For Your Reservation.</p>
							</div>
							</div>
						</div>
					</section>
			
					{{!-- <div class="container">
							<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
									<ol class="carousel-indicators">
										<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
										<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
										<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
										<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
									</ol>
									<div class="carousel-inner">
										<div class="carousel-item active">
											<img class="d-block w-100" src="public/assets/images/ceviche.jpg" alt="First slide">
										</div>
										<div class="carousel-item">
											<img class="d-block w-100" src="public/assets/images/loadedfries.jpg" alt="Second slide">
										</div>
										<div class="carousel-item">
											<img class="d-block w-100" src="public/assets/images/oysters.jpg" alt="Third slide">
										</div>
										<div class="carousel-item">
											<img class="d-block w-100" src="public/assets/images/seafood1.jpg" alt="Third slide">
										</div>
									</div>
									<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
										<span class="carousel-control-prev-icon" aria-hidden="true"></span>
										<span class="sr-only">Previous</span>
									</a>
									<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
										<span class="carousel-control-next-icon" aria-hidden="true"></span>
										<span class="sr-only">Next</span>
									</a>
								</div>
					</div> --}}
					<!-- End of carousel -->
			
					<div id="about">
						<div class="container">
							<div class="about-text">
								<h2>About Us</h2>
								<hr>
							</div>
							<div class="row">
								<div class="col-lg-8 col-md-8 col-sm-12">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis perferendis magnam adipisci eius, expedita repellendus maxime ex aperiam modi? Deleniti libero optio enim obcaecati ipsa illum similique incidunt! In, quia? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint ipsum provident rem! Placeat, facilis hic est dolorum quasi qui architecto dicta voluptatibus itaque, fuga quidem veniam maiores, aut unde nihil. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat beatae minima sapiente. Error illum ex perferendis officia earum praesentium itaque dolorem quaerat corrupti velit. Quia doloremque cumque molestias porro cum.</p>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam tempora incidunt autem rerum ipsa labore est odit. Officiis ducimus, error itaque placeat fugit libero qui labore voluptates aperiam quia eaque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio tempore officiis natus fuga quod accusamus quisquam, ipsa laudantium obcaecati, consequuntur maxime! Quos vero accusamus soluta, laudantium explicabo corporis nam in. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis voluptas quibusdam hic asperiores molestiae illum perspiciatis enim voluptatum, adipisci iusto temporibus optio rem aut molestias fugiat impedit explicabo reprehenderit a!</p>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12">
									<a href="https://placeholder.com"><img src="http://via.placeholder.com/200x200" style="margin-bottom: 40px;"></a>
									<a href="https://placeholder.com"><img src="http://via.placeholder.com/200x200"></a>
								</div>
							</div>
						</div>
					</div>
					<!-- end of About div -->
			
	</div>
	
	


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="public/assets/javascript/app.js"></script>
</body>

</html>