<div id="wrapper">
	<div>
		<hr width="50%">
      <h1 style="text-align:center">Menu</h1>
      <hr width="50%">
	</div>

	<div class="container">
		<div class="row">
			<div class="col" style="text-align: center;">
				<p>Stay in the loop for new items by checking our in-house special boards.</p>
			</div>
		</div>
	</div>

	<div class="container">
			  <object data="../public/assets/images/clawsMenu.svg"></object>
	</div>
</div>