<div id="wrapper">
	<div>
		<hr width="50%">
      <h1 style="text-align:center">Food &amp; Drinks</h1>
      <hr width="50%">
	</div>

	<div class="container">
		<div class="row">
			<div class="col" style="text-align: center;">
				<p>Stay in the loop for new items by checking our in-house special boards.</p>
			</div>
		</div>
		<div class="row">
				<div class="col" style="text-align: center;">
					<p>If this is your first time having CLAWS, just follow these simple instructions on how to order!</p>
				</div>
		</div>
		<div class="row" id="instructions">
			<div class="col-lg-4 col-md-4 col-sm-8">
				<div class="card mx-auto" style="text-align: center;">
					<div class="card-header">
						<h3>STEP 1</h3>
					</div>
					<div class="card-body">
						<div class="card-text">
							<h5>Choose Your Seafood (By the Pound):</h5>
								<p>Crawfish (Fresh or Frozen)</p>
								<p>Shrimp (Shell-On or Peeled)</p>
								<p>Clams</p>
								<p>Mussels</p>
								<p>Snow Crab (Cluster or Segments)</p>
								<p>Alaskan King Crab (Legs or Segments)</p>
								<p>Dungeness Crab (Seasonal)</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-8">
				<div class="card mx-auto h-100" style="text-align: center;">
					<div class="card-header">
						<h3>STEP 2</h3>
					</div>
					<div class="card-body">
						<div class="card-text">
							<h5>Choose Your Sauce:</h5>
							<p>Cajun</p>
							<p>Garlic Butter</p>
							<p>Lemon Pepper</p>
							<p>Cannonball (All 3)</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-8">
				<div class="card mx-auto h-100" style="text-align: center;">
					<div class="card-header">
						<h3>STEP 3</h3>
					</div>
					<div class="card-body flex-fill">
						<div class="card-text">
							<h5>Choose Your Spice Level:</h5>
								<p>Non-Spicy</p>
								<p>Mild</p>
								<p>Medium</p>
								<p>Spicy</p>
								<p>Fire In The Hole</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="accordion" style="margin-top: 50px;">
			<div class="card">
				<div class="card-header">
					<h5 class="mb-0">
        		<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="menuAccordion" >
          		APPETIZERS
						<span><i class="fas fa-angle-down"></i></span>
        		</button>
      		</h5>
				</div>
			<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body" id="foodList">
					<p>Cajun or French Fries (S)/(L)</p>
					<p>Cajun Wings (6pc)/(10pc)</p>
					<p>Sweet Potato Fries</p>
					<p>Garlic Fries</p>
					<p>Onion Rings</p>
					<p>Fried Okra</p>
					<p>Chicken Cajun Rolls (4)</p>
					<p>Butterfly Shrimp (4)</p>
					<p>Bacon Wrapped Shrimp (4)</p>
					<p>Chicken Tenders*</p>
					<p>Fried Shrimp &amp; Fries*</p>
					<p>Fried Shrimp a la Carte</p>
					<p>Fried Fish &amp; Fries* (Catfish or Tilapia)</p>
					<p>Fried Mussels</p>
					<p>Fried Mussels</p>
					<p>Fried Calamari</p>
					<p>Fried Frog Legs (6)</p>
					<p>Shipwreck (Sampler Basket)</p>
					<p>Bacon Wrapped Hotdog &amp; Fries*</p>	
					<p>Loaded Garlic Asada Fries</p>
					<p>Shrimp Ceviche &amp; Chips</p>
					<p>Coconut Sea Snails (S)/(L)</p>
					<p>Raw Oysters (6)/(12)</p>
					<p>Raw Oysters &amp; Ceviche (6)/(12)</p>
					<p style="font-weight: bold;">*Upgrade to Sweet Potato Fries $1</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="menuAccordion">
          SOUPS &amp; SALADS
				<span><i class="fas fa-angle-down"></i></span>
        </button>
      </h5>
    </div>
		<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body" id="foodList">
					<p>New England Clam Chowder</p>
					<p>Louisiana Gumbo</p>
					<p>Chicken Salad (Blackend or Fried)</p>
					<p>Catfish or Tilapia Salad (Blackened or Fried)</p>
					<p>Shrimp Salad (Blackened or Fried)</p>
      </div>
    </div>
	</div>
			<div class="card">
    		<div class="card-header" id="headingThree">
      		<h5 class="mb-0">
        		<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" id="menuAccordion">
          	ENTREES
						<span><i class="fas fa-angle-down"></i></span>
        		</button>
      		</h5>
    		</div>
				<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      		<div class="card-body" id="foodList">
						<p>Jambalaya* (Rice or Pasta)</p>
						<p>Cajun Seafood Fried Rice*</p>
						<p>Cajun Seafood Pasta*</p>
						<p>Garlic Seafood Pasta*</p>
						<p>Grilled Chicken Breast**</p>
						<p>Po-Boys &amp; Fries</p>
						<p>Seafood Linguine*</p>
						<p>Blackened Dish** (Catfish, Tilapia, Shrimp)</p>
						<p>Glazed Pacific Salmon*</p>
						<p>Cajun Rubbed Steak**</p>
						<p>Jack Daniels Ribs (Half/ Full Rack)</p>
						<h4 style="margin-top: 15px; text-align: center;">Complete Your Meal With:</h4>
						<p>Cup of Clam Chowder</p>
						<p>Blackened Shrimp Skewers (6)</p>
						<p style="margin-top: 15px;"> *Served with a side of seasonal vegetables, salad, or corn</p>
						<p>**Served with a choice of fries or rice &amp; seasonal vegetables or corn</p>
      		</div>
    		</div>
			</div>
			<div class="card">
    		<div class="card-header" id="headingFour">
      		<h5 class="mb-0">
        		<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" id="menuAccordion">
          	EXTRAS
							<span><i class="fas fa-angle-down"></i></span>
        		</button>
      		</h5>
    		</div>
				<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      			<div class="card-body" id="foodList">
							<p>Sausages (12 -14pcs)</p>
							<p>Red Potatoes</p>
							<p>Corn</p>
							<p>Extra Condiments</p>
							<p>Seafood Sauce (Limit 1/lb)</p>
							<p>French Baguette (1/2 loaf)</p>
							<p>Carrot/Celery Sticks</p>
							<p>Chips</p>
							<p>Side Salad</p>
							<p>Steamed Rice</p>
							<p>Cajun Rice</p>
							<p>Cajun Roasted Potatoes</p>
							<p>Seasonal Vegetables</p>
							<p>Garlic Pasta</p>
							<p>Garlic Bread (8)</p>
      			</div>
    		</div>
			</div>
			<div class="card">
  			<div class="card-header" id="headingFive">
      		<h5 class="mb-0">
        		<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" id="menuAccordion">
          	DRINKS
							<span><i class="fas fa-angle-down"></i></span>
        		</button>
      		</h5>
    		</div>
				<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      		<div class="card-body" id="foodList">
						<p>Hot Tea</p>
						<p>Iced Tea</p>
						<p>Sweet Tea</p>
						<p>Iced Green Tea (Light Sweetened)</p>
						<p>Passion Fruit Iced Tea</p>
						<p>Mango Iced Tea</p>
						<p>Peach Iced Tea</p>
						<p>Strawberry Iced Tea</p>
						<p>Lychee Iced Tea</p>
						<p>Strawberry Lemonade</p>
						<p>Fountain Drinks</p>
						<h3 style="text-align: center;">*All Bottomless*</h3>
      		</div>
    		</div>
			</div>
		</div>
	</div>

	

	<div class="container">
			  <object data="../public/assets/images/clawsMenu.svg"></object>
	</div>

	{{!-- <div>
		<hr width="50%">
      <h1 style="text-align:center">Drinks</h1>
      <hr width="50%">
	</div>

	<div class="container">
		<button type="button" class="btn btn-dark btn-lg" data-toggle="modal" data-target="#exampleModal"> View Cocktails</button>
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Cocktails</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true" style="font-size: 40px;">&times;</span>
										</button>								
					</div>
									<div class="modal-body">
										<img  class="modal-image" src="../public/assets/images/cocktails.PNG" alt="happy hour menu">
									</div>
										<div class="modal-footer">
												<button type="button" class="btn btn-danger btn-lg btn-block" data-dismiss="modal">Close</button>
										</div>
					</div>
				</div>
		</div>
	</div> --}}
</div>