.jumbotron {
    margin-bottom: 0px;
    background-color: black;
}

@font-face {
    font-family: lithosPro;
    src: url("./font/LithosPro-Regular.otf");
}

body {
	font-family: "lithosPro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#store-name {
    font-size: 5em;
    font-weight: bold;
    color: rgb(204, 20, 38)
}

#slogan {
    color: #ffffff;
    margin-top: 35px;
}

#promotion {
	background-image: url("../images/brownwood.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	font-size: 3.5em;
	display: flex;
    justify-content: center;
    align-items: center;
	height:400px;
	color: white;
	margin-bottom: 25px;
}

.info {
	z-index: 1;
	position: relative;
	letter-spacing: 0px;
	font-stretch: ultra-condensed;
}

.footer-text {
	text-align: center;
	margin-top: 20px;
}

#wrapper {
	position: relative;
}

#footer{
  background-color:  rgb(229, 210, 39);
	height: 150px;
	text-align: center;
	width: 100%;
	position: absolute;
}

.fab {
    margin-top: 30px;
}

a {
    color: inherit;
}

#about {
	height: 500px;
	margin-bottom: 25px;
}

.about-photo {
    margin-bottom: 40px;
}

.navbar{
	padding: 0;
	min-height: 80px;
	background: black;
}

.navbar-brand {
	font-size: 40px;
}

.nav-link > li {
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-light .navbar-nav .active>.nav-link {
	color: #ffffff;
}

.navbar-nav > li{
	padding-left:30px;
	padding-right:30px;
  }

@media (min-width: 768px) {
	.navbar-brand {
		padding-left: 20px;
		font-weight: bold;
		color: rgb(204, 20, 38);
	}
	.nav-item {
		padding-left: 15px;
	}
}


@media (max-width: 768px) {
    .jumbotron{
			display: none;
		}
		.navbar-brand {
			padding-left: 15px;
			font-weight: bold;
			color: rgb(204, 20, 38);
		}
		.nav-item {
			padding-left: 15px;
		}
		.navbar-nav {
			color: inherit;
		}
		.nav-fill {
			float: right;
		}
}