@font-face {
	font-family: lithosPro;
	src: url(../css/font/LithosPro-Regular.otf);
}

body {
	font-family: 'Passion One', cursive;
	color: #000;
}

#store-name {
    font-size: 5em;
    font-weight: bold;
    color: rgb(204, 20, 38)
}

#slogan {
    color: #ffffff;
    margin-top: 35px;
}

#promotion {
	background-image: url("../images/shark.JPG");
	/* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	font-size: 3.5em;
	display: flex;
  justify-content: center;
  align-items: center;
	height:400px;
	color: white;
	margin-bottom: 25px;
}

hr {
	border-color: #000;
}

.info {
	z-index: 1;
	position: relative;
	font-family: 'Passion One', cursive;
}

.footer-text {
	text-align: center;
	margin-top: 20px;
	color: #ffffff;
}

#wrapper {
	position: relative;
}

footer{
  background-color: #000;
	height: 150px;
	text-align: center;
	width: 100%;
	position: absolute;
}

.fab {
    margin-top: 30px;
}

a {
    color: #ffffff;
}

a:hover{
	color:  rgb(204, 20, 38);
}

.happyHour:hover {
	color: #000;
}

.navbar .navbar-nav .active a:hover {
	color: rgb(204, 20, 38);
}

#about {
	height: 100%;
	margin-bottom: 25px;
}

#drink {
	background: rgb(204, 20, 38);
}

button {
	margin: 5px 0px 15px 0px;
}

.about-text {
	margin-top: 15px;
}
.about-photo {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
	margin-bottom: 40px;
	margin-top: 25px;
}

 object {
	display: block;
	margin: auto;
	width: 100%;
 }

.navbar{
	padding: 0;
	min-height: 80px;
	background-color: #000 !important;
}

.navbar-brand {
	font-size: 40px;
	font-family: "lithosPro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.nav-link > li {
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-light .navbar-nav .active>.nav-link {
	color: #ffffff;
}

.navbar-nav > li{
	padding-left:15px;
	padding-right:15px;
  }

.navbar-dark {
	color: #ffffff;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	border: 1px solid #000000;
	}

#img-right {
	float: right;
	margin-top: 40px;
	margin-bottom: 20px;
}

#img-left {
	float: left;
	margin-top: 40px;
	margin-bottom: 20px;
}

@media (min-width: 360px) {
	#location {
		padding-right: 10px;
		padding-left: 10px;
	}
}

@media (min-width: 768px) {
	.navbar-brand {
		padding-left: 20px;
		font-weight: bold;
		color: rgb(204, 20, 38);
	}
	.nav-item {
		padding-left: 15px;
	}
	#promotion {
		background-attachment: fixed;
	}
}

@media (max-width: 768px) {
		#img-right {
			display: block;
			float: none;
 		  margin-left: auto;
      margin-right: auto;
		}
		#img-left {
			display: block;
			float: none;
 		  margin-left: auto;
      margin-right: auto;
		}
		.navbar-brand {
			padding-left: 15px;
			font-weight: bold;
			color: rgb(204, 20, 38);
		}
		#promotion {
			font-size: 2.5em;
		}
		.nav-item {
			padding-left: 15px;
		}
		.navbar-nav {
			color: inherit;
		}
		.nav-fill {
			float: right;
		}
}

@media (max-width: 600px) {
	.navbar-brand {
		font-size: 25px;
	}
}

@media (max-width: 360px) {
	#location {
		padding-right: 10px;
		padding-left: 10px;
	}
	.navbar-brand {
		font-size: 20px;
	}
}