.jumbotron {
    margin-bottom: 0px;
    background-color: black;
}

@font-face {
    font-family: lithosPro;
    src: url("./font/LithosPro-Regular.otf");
}

body {
    font-family: "lithosPro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#store-name {
    font-size: 5em;
    font-weight: bold;
    color: rgb(204, 20, 38)
}

#slogan {
    color: #ffffff;
    margin-top: 35px;
}

#promotion {
    font-size: 1.5em;
    margin-top: 30px;
}

.footer-text {
    text-align: center;
}

#footer{
    background-color:  rgb(229, 210, 39);
		height: 150px;
		text-align: center;
}

.fab {
    margin-top: 30px;
}

a {
    color: inherit;
}

.about-photo {
    margin-bottom: 40px;
}

nav li a:hover {
	background-color: rgb(204, 20, 38);
}

.navbar{
	padding: 0;
}

.nav-link {
	padding-top: 10px;
	padding-bottom: 10px;
}

@media (max-width: 768px) {
    .jumbotron{
			display: none;
		}
		.navbar-brand {
			padding-left: 15px;
		}
}