.jumbotron {
    margin-bottom: 0px;
}

@font-face {
    font-family: lithosPro;
    src: url("./font/LithosPro-Regular.otf");
}

body {
    font-family: "lithosPro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

nav li a:hover {
	background-color: rgb(204, 20, 38);
}

.navbar{
	padding: 0;
}

.nav-link {
	padding-top: 10px;
	padding-bottom: 10px;
}
